.bot-finder-menu {
	display: block;
	border-radius: 4px;
	background: inherit;
	padding-left: 2rem;
	padding-top: 1rem;
}

.bot-finder-header {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 2px;
}

.bot-finder-button {
	background-color: white;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	font-weight: bold;
	border-radius: 5px;
	font: inherit;
	color: Black;
	margin-bottom: 10px;
	margin-right: 10px;
}

.bot-finder-button:hover {
	background-color: whitesmoke;
}

.bot-finder-button:active {
	background-color: lightgray;
	transform: translateY(2px);
}

.viewer-bot {
	border: 2px solid orangered;
	padding: 2px 4px 2px 4px;
	border-radius: 8px;
}

